* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.item-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-items {
  display: flex;
}

.detailCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.countDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.countDiv button {
  margin-left: 15px;
}
